<div class="row" style="margin-top: 15%">
<div class="centered six columns" style='text-align: center'>
<h1>Otavy</h1>
<p style='text-align: center'>Best assistant for your trip</p>
<ul style="text-align: center; margin-top: 5%">
<li class="append field">
    <input class="wide email input" type="email" placeholder="Your Email Address" />
</li>
<li class="append field">
    <input class="wide input" type="password" placeholder="Your Password" />
</li>
</ul>
<div class="medium default btn"><input type="submit" value="Login" /></div>
</div>
</div>
