<div class="row" style="margin-top: 30%">
<div class="centered six columns" style='text-align: center'>
<h1>Otavy</h1>
<p style='text-align: center'>Best assistant for your trip</p>
<ul style="text-align: center">
<li class="append field">
    <input class="narrow email input" type="email" placeholder="Email input" />
    <span class="adjoined">@</span>
</li>
<li class="append field">
    <input class="narrow input" type="password" placeholder="Password input" />
    <div class="medium primary btn"><a href="#">Go</a></div>
</li>
</ul>
</div>
</div>
