<div class="row">
<div class="centered six columns" align="center" style='margin-top: 15%'>
<h1>Otavy</h1>
<p>Best assistant for your trip</p>
<ul>
<li class="append field">
    <input class="wide email input" type="email" placeholder="Email input" />
    <span class="adjoined">@</span>
</li>
<li class="append field">
    <input class="wide input" type="password" placeholder="Password input" />
    <div class="medium primary btn"><a href="#">Go</a></div>
</li>
</ul>
</div>
</div>
